# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Pytest cache
.pytest_cache/

# Editor dirs
.vscode/
.idea/

# Environment files
.env
